body {
  width: 100vw;
  min-width: 320px;
}

#wrapper {
  padding: 30px;
  margin: 0 auto;
  max-width: 70%;
}

#grid {
  background: #A1A1A1;
  border-radius: 15px;
  padding: 20px;
  display: grid;
  box-sizing: border-box;
  grid-row-gap: 1vh;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#grid.visible {
  opacity: 1;
}

#grid button {
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border: 2px solid #999;
  border-radius: 5px;
  background: #AAA;
  min-height: 100%;
  min-width: 80%;
  place-self: center;
  transition: border 0.3s ease;
}

#grid button:hover,
#grid button:focus {
  border: 2px solid rgba(55, 55, 55, 0.7);
  cursor: pointer;
}
